<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>923250040637-bm8rvdcbvi6sn8tlbsms1pjn9g7t19qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.923250040637-bm8rvdcbvi6sn8tlbsms1pjn9g7t19qr</string>
	<key>API_KEY</key>
	<string>AIzaSyDmhWXK1UfmIahXg6HFedWVyzE7ySc4hKk</string>
	<key>GCM_SENDER_ID</key>
	<string>923250040637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.productManager</string>
	<key>PROJECT_ID</key>
	<string>productmanager-c654d</string>
	<key>STORAGE_BUCKET</key>
	<string>productmanager-c654d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:923250040637:ios:7d07374cfd2fe8bbafef54</string>
</dict>
</plist>